// VARIABLES
$default-color: #333;
$primary-color: #5da552;
$secondary-color: #222222;
$white-color: #ffffff;
$black-color: #000000;

// Social color
$facebook: #1877f2;
$twitter: #1da1f2;
$linkedin: #007bb5;
$instagram: #c32aa3;

// FONTS
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap";
